<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :shop_kind %><br>
    <%= f.select :shop_kind,[["指定無し", "0"], ["カフェ・喫茶店", "1"], ["居酒屋", "2"], ["ダイニングバー・BAR", "3"], ["レストラン・洋食", "4"], ["イタリアン・フレンチ", "5"], ["ラーメン", "6"], ["中華料理店", "7"], ["スナック・クラブ", "8"], ["パン屋", "9"], ["寿司", "10"], ["アジアン料理", "11"], ["ライブハウス", "12"], ["空き店舗", "13"], ["その他", "14"]] %>
  </div>
  <div class="field">
        時間帯
      <%= f.select :time, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"], ["13", "13"], ["14", "14"], ["15", "15"], ["16", "16"], ["17", "17"], ["18", "18"], ["19", "19"], ["20", "20"], ["21", "21"], ["22", "22"], ["23", "23"], ["24", "24"]] %>時〜
  </div>
  <div class="field">    <%= f.select :time2, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"], ["13", "13"], ["14", "14"], ["15", "15"], ["16", "16"], ["17", "17"], ["18", "18"], ["19", "19"], ["20", "20"], ["21", "21"], ["22", "22"], ["23", "23"], ["24", "24"]] %>
  </div>
  <div class="field">
      <label>全て<%= f.check_box :youbi_all ,{id: "youbi_all"}, "1","0" %>使用可</label>
      <div id="youbi_check">
      <label>月<%= f.check_box :monday,{}, "1","0" %>使用可</label>
      <label>火<%= f.check_box :tuesday,{}, "1","0" %>使用可</label>
      <label>水<%= f.check_box :wednesday,{}, "1","0"%>使用可</label>
      <label>木<%= f.check_box :thursday,{}, "1","0" %>使用可</label>
      <label>金<%= f.check_box :friday,{}, "1","0" %>使用可</label>
      <label>土<%= f.check_box :saturday,{}, "1","0" %>使用可</label>
      <label>日<%= f.check_box :sunday,{}, "1","0" %>使用可</label>
  </div>
  <div class="field">
    <%= f.label :house_rent %><br>
    <%= f.text_field :house_rent %>
  </div>
  <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :locational %><br>
    <%= f.select :locational ,[["指定無し", "0"], ["一階", "1"], ["駅近く", "2"], ["商店街", "3"], ["駐車場付き", "4"]] %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div>
    <div class="span6"><h3>設備機器</h3>
      <label>全て<%= f.check_box :all ,{id: "all"}, "1","0" %>使用可</label>
      <div id="check">
      <label>キッチン<%= f.check_box :kitchen,{}, "1","0" %>使用可</label>
      <label>ホール<%= f.check_box :hall,{}, "1","0" %>使用可</label>
      <label>カウンター<%= f.check_box :counter,{}, "1","0"%>使用可</label>
      <label>ガスコンロ<%= f.check_box :gas_stove,{}, "1","0" %>使用可</label>
      <label>レンジ<%= f.check_box :range,{}, "1","0" %>使用可</label>
      <label>冷蔵庫<%= f.check_box :refrigerator,{}, "1","0" %>使用可</label>
      <label>食器洗浄機<%= f.check_box :dishwashers,{}, "1","0" %>使用可</label>
      <label>調理台<%= f.check_box :worktop,{}, "1","0" %>使用可</label>
      <label>フライヤー<%= f.check_box :fryer,{}, "1","0" %>使用可</label>
      <label>シンク<%= f.check_box :sink,{}, "1","0" %>使用可</label>
    </div>
    <div class="span6" float: left><h3>その他条件</h3>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
