<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, id: "logo" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "Post", new_post_path %> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% elsif customer_signed_in? %>
            Logged in as <strong><%= current_customer.email %></strong>.
            <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "お店を借りたい人新規登録", new_customer_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "お店を借りたい人Login", new_customer_session_path, :class => 'navbar-link'  %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>